{% extends 'bibliotheque/main.html' %}
{% block title %}
Index du site
{% endblock %}

{% block content %}
<a href="/bibliotheque/ajoutcategorie/"> ajouter une catégorie </a>
 <ol>
        {% for l in liste %}
            <li> {{l}}  <a href="/bibliotheque/affichecategorie/{{l.id}}/"> afficher les détails </a> <a href="/bibliotheque/deletecategorie/{{l.id}}/"> effacer </a>
                <a href="/bibliotheque/updatecategorie/{{l.id}}/"> mise à jour </a>
            </li>
        {%endfor%}
    </ol>
{% endblock %}